<div class="overlay"></div>
<button class="sidebar-toggle sidebar-on">
    <i class="fa-solid fa-bars"></i>
</button>
<aside class="side-navbar sidebar-hidden">
    <button class="sidebar-toggle sidebar-off">
        Cerrar
    </button>
    @include('components/nav')
</aside>