<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="style/style.css">
  <title>{{ title }}</title>
</head>

<body>
  <section class="section">
    @!section('section')
  </section>
  <footer class="footer">
    <span>Desarrollado por JefersonLC - {{ new Date().getFullYear() }}</span>
    <hr />
    <div class="footer-social">
      <a class="social-icon" href="https://github.com/JefersonLC" target="_blank">
        <i class="fa-brands fa-github"></i>
      </a>
    </div>
  </footer>
</body>
<script src="./js/nav.js"></script>

</html>